.head {
  display: flex;
  justify-content: space-between;
  border: 1px solid #000;
  align-items: center;
  border-radius: 10PX;
  padding: 1rem;
  
}

.head ul{
  display: flex;
  gap: 1rem;
  list-style-type: none;
  padding: 0%;
  margin: 0px;
}

.product-list {
  display: flex;
  margin-top: 30px;
}

.product-card{
  width: 300px;
  padding: 10px;
  transition: all ease-in-out 0.2s;
}

.product-card:hover{
  transform: scale(1.1);
}

.product-img {
  width: auto;
  height:300px;
}

.product-title {
  font-size: 30px;
  font-weight: bold;
}

.product-desc {
  color: black;
  margin-bottom: 5px;
}

.price {
  font-size: 20px;
  font-weight: bold;
  margin-right: 10px;
}

.strike-price{
  font-size: 20px;
  text-decoration: line-through;
  margin-right: 10px;
}
